<?define Manufacturer="Illallangi Enterprises" ?>
<?define AppName="TeamCity PowerShell Module" ?>
<?define Version="0.0.0.1" ?>

<?if $(sys.BUILDARCH)=x64 ?>
<?define Win64="yes" ?>
<?define PlatformProgramFilesFolder="ProgramFiles64Folder" ?>
<?define PlatformSystemFolder="System64Folder" ?>
<?define ProductId="{2E5ABB6E-4F57-44C2-A473-731BBDD3FE14}" ?>
<?define UpgradeCode="{EE929919-F691-4E84-8A8C-F01E749B7FAF}" ?>
<?else ?>
<?define Win64="no" ?>
<?define PlatformProgramFilesFolder="ProgramFilesFolder" ?>
<?define PlatformSystemFolder="SystemFolder" ?>
<?define ProductId="{6E93756F-F30E-45D0-9FBE-533E96B9E15F}" ?>
<?define UpgradeCode="{2A9A0033-1F9D-44F0-BE33-9DD3AAE9EDAA}" ?>
<?endif ?>

<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="$(var.AppName) $(sys.BUILDARCH) v$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           Version="$(var.Version)"
           Id="$(var.ProductId)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           Codepage="1252" >

    <Package InstallerVersion="200" Compressed="yes" Id="*" />
    <Media Id="1" Cabinet="package.cab" EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND"/>

      <UpgradeVersion Maximum="$(var.Version)"
                      IncludeMaximum="no"
                      OnlyDetect="no"
                      Language="1033"
                      Property="OLDPRODUCTFOUND"/>
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="Empty" Guid="" />
      <Directory Id="$(var.PlatformSystemFolder)">
        <Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
          <Directory Id="v1.0" Name="v1.0">
            <Directory Id="Modules" Name="Modules">
              <Directory Id="SOFTWAREDIR" Name="Illallangi.TeamCityPS" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--
    <Icon Id="favicon.ico" SourceFile="$(var.source)\favicon.ico" />
    -->
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Feature Id="Complete" Level="1" Title="$(var.AppName)">
      <Component Id="IllallangiTeamCityPSDllC" Directory="SOFTWAREDIR" Guid="{A4E7838D-47B2-4790-9C7E-A0A2AC36ADB1}" Permanent="yes" >
        <File Id="IllallangiTeamCityPSDllF" KeyPath="yes" Source="$(var.source)\Illallangi.TeamCityPS.dll" />
        <File Id="IllallangiTeamCityPSDllFConfig" Source="$(var.source)\Illallangi.TeamCityPS.dll.Config" />
        <File Id="IllallangiTeamCityPSDllFPSD1" Source="$(var.source)\Illallangi.TeamCityPS.psd1" />
        <File Id="IllallangiTeamCityPSDllFPSM1" Source="$(var.source)\Illallangi.TeamCityPS.psm1" />
      </Component>
      <ComponentRef Id="Empty" />
    </Feature>


    <UI Id="Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog='ExitDialog' Control='Finish' Event='EndDialog' Value='Return'>1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
  </Product>
</Wix>