<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TeamCityConfig" type="Illallangi.TeamCityPS.Config.TeamCityConfig,Illallangi.TeamCityPS"/>
  </configSections>
  <TeamCityConfig AuthCache="%localappdata%\Illallangi Enterprises\TeamCityPS\AuthTokens.json"/>
</configuration>