<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TeamCityConfig" type="Illallangi.TeamCity.Config.TeamCityConfig,Illallangi.TeamCity"/>
  </configSections>
  <TeamCityConfig AuthCache="%localappdata%\Illallangi Enterprises\TeamCity\AuthTokens.json"/>
</configuration>